ipykernel
rerankers
matplotlib
scikit-learn
networkx
numpy==2.0
pandas
polars
pillow
pytz
requests
safetensors
scipy
sentence-transformers
seaborn
tokenizers
tqdm
tiktoken
ruff
pacmap
umap-learn
peft

# pip-only packages
transformers
torch
python-terrier
huggingface-hub
python-dotenv
openai
wandb
rerankers[flashrank]
rerankers[rankllm]
